on:
  push:
    branches:
      - main

jobs:
  Build-Python-Artifacts:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2
      - name: Setup Python
        uses: actions/setup-python@v6.2.0
        with:
          python-vesrion: '3.10'
          cache: 'pip'
      - name: Install dependncy
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
  
      - name: Run test
        run: |
           pip install pytest pytest-cov
           pytest
      - name: Build the artifact
        run: |
          mkdir build 
          cp app.py requirements.txt README.md nginx.conf calculator.service build/
          zip -r python-app.zip build/
      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v6.0.0
        with:
          name: python-app
          path: python-app.zip
          retention-days: 1

